body {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin: 0;
  background-color: white;
}


.container {
  width: 600px;
  margin: 20px auto;
  box-sizing: border-box;
}


.header {
  background-color: #54d4ee;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}


.content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4px;
  margin-bottom: 7px;
}


.leftColumn {
  display: grid;
  grid-template-rows: 190px 255px;
  gap: 6px;
}


.hero {
  background-color: #d8c8e5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 17px;
  box-sizing: border-box;
}


.sidebar {
  background-color: #a8c96b;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 17px;
  box-sizing: border-box;
}


.rightColumn {
  display: grid;
  grid-template-rows: 310px 135px;
  gap: 6px;
}


.mainContent {
  background-color: #ffcc32;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 17px;
  box-sizing: border-box;
}


.extraContent {
  background-color: #999999;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 17px;
  box-sizing: border-box;
}


.relatedContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 4px;
  height: 108px;
  margin-bottom: 6px;
}


.relatedImages {
  background-color: #2cb776;
  display: flex;
  align-items: center;
  justify-content: center;
}


.relatedPost {
  background-color: #f3d4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  line-height: 1.3;
}

.footer {
  background-color: #fea501;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}